<Directory /www>
        Options -Indexes
        AllowOverride All
        Require all granted
</Directory>

<VirtualHost *:80>
    #LogLevel alert rewrite:trace6
    ServerName jb.test
    DocumentRoot /www
</VirtualHost>
